<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-poepatchupdate-prod-001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e121a08b-7ee5-488d-99ee-08c607d99013/resourcegroups/rg-poepatchupdate-prod-001/providers/Microsoft.Web/sites/func-poepatchupdate-prod-001</ResourceId>
    <UserName>$func-poepatchupdate-prod-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-poepatchupdate-prod-001.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>